.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
.background-app {
    background-image: url('/bg.jpg');
    background-size: cover;
    background-position: center;
}
 */
